@import "@/app/styles/Variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary_background_color;
    color: $text_color_dark;
    font-family: var(--font-roboto_c), var(--font-noto_jp), sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

img {
    height: auto;
    max-width: 100%;
}

main {
    align-items: center;
    background: $primary_background_color;
    justify-content: center;
    margin: 0 auto;
    max-width: $inner_width;
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#inner {
    overflow: hidden;
    padding: 110px $inner_padding 0;
}

@media (min-width: $inner_width) {
    body {
        background: $secondary_background_color;
    }
}

html[lang="ja"] {
    body {
        font-size: 93%;
        line-height: 1.7;
    }
}