$button_padding: 10px 20px;
$global_border_radius: 5px;
$gloval_margin_bottom: 15px;
$gloval_between: 75px;
$inner_padding: 20px;
$inner_width: 450px;

$primary_color: #745399;
$primary_background_color: #151515;
$secondary_background_color: #252525;
$text_color_dark: #eee;
$text_color_light: #333;
$border_color_dark: #444;
$button_gradation: linear-gradient(90deg,rgba(0, 153, 247, 1) 0%,rgba(241, 23, 18, 1) 100%) border-box border-box;
