@import "@/app/styles/Variables.scss";

.container {
    border-bottom: 1px solid $border_color_dark;
    margin: 75px auto 0;
    padding-bottom: 75px;

    &:first-child {
        margin: 40px auto 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    .button{
        text-align: center;
        a {
            appearance: none;
            background: $secondary_background_color;
            border-radius: $global_border_radius;
            border: 0;
            color: $text_color_dark;
            cursor: pointer;
            display: inline-block;
            font-size: $global_font_size + 1;
            font-weight: 500;
            outline: none;
            overflow: hidden;
            padding: $button_padding;
            position:relative;
            margin: 0 auto;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: $global_border_radius;
                border: 1px solid transparent;
                background: $button_gradation;
                -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
                -webkit-mask-composite: destination-out;
                mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
                mask-composite: exclude;
            }
        }
    }

    .image {
        border-radius: $global_border_radius;
        margin-bottom: $gloval_margin_bottom;
        overflow: hidden;
    }

    .texts {
        font-weight: 300;

        h3 {
            font-size: 160%;
            margin: 0 0 $gloval_margin_bottom;
            font-weight: bold;
        }

        p {
            margin-bottom: ($gloval_margin_bottom * 2);
            font-size: 100%;
        }
    }
}
html[lang="ja"] .container {
    h3 {
        font-size: 160%;
    }
    .button a {
        font-size: 95%;
        font-weight: 600;
    }
    .texts p {
        font-weight: 400;
    }
}