@import "@/app/styles/Variables.scss";

.container{
    appearance: none;
    background: $secondary_background_color;
    border-radius: $global_border_radius;
    border: 0;
    color: $text_color_dark;
    cursor: pointer;
    display: block;
    font-size: $global_font_size + 1;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    padding: $button_padding;
    position:relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $global_border_radius;
        border: 1px solid transparent;
        background: $button_gradation;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
        -webkit-mask-composite: destination-out;
        mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
        mask-composite: exclude;
    }
}
html[lang="ja"] .container {
    font-size: 90%;
    font-weight: 600;
}