.container {
    // background: var(--secondary_background-color);
    border-radius: calc(var(--border-radius) * 2);
    border: 1px solid var(--border-color);
    margin: var(--gloval_spacing) auto 0;
    max-width: 100%;
    position: relative;
    box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.05), 5px 5px 15px 7px rgba(0, 0, 255, 0.05);
    overflow: hidden;

    .inner {
        display: flex;
        justify-content: space-between;

        .wrapper {
            width: 47%;
        }
    }

    .title {
        border-bottom: 1px solid var(--border-color);
        display: flex;
        padding: 25px 20px;
        align-items: center;

        img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            overflow: hidden;
            font-size: 120%;
        }

        h2 {
            font-size: 130%;
            font-weight: bold;
            line-height: 1;
        }
    }

    form {
        padding: 20px 20px;
        background: var(--secondary_background-color);
    }

    .wrapper {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 7px;
        // font-size: 90%;
    }

    input,
    textarea {
        // background: $primary_background_color;
        background: var(--tertiary_background-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        color: var(--color);
        display: block;
        font-family: var(--font-noto_sans_jp), sans-serif;
        font-optical-sizing: auto;
        font-size: 16px;
        font-weight: 400;
        padding: 13px;
        width: 100%;

        &::placeholder {
            font-family: var(--font-roboto_condensed), sans-serif;
            font-size: 90%;
            color: #777;
        }
    }

    button {
        background-color: var(--primary_color);
        color: #fff;
        padding: var(--button_padding);
        border-radius: var(--border-radius);
        font-size: 17px;
        font-weight: 500;
        display: block;
        width: 100%;
        margin: 30px auto 20px;
    }
}
html[lang="ja"] .container {
    h2 {
        transform: translateY(1px);
    }
    button {
        font-size: 95%;
    }
}