@import "@/app/styles/Variables.scss";

.container {
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid $border_color_dark;
    display: flex;
    justify-content: space-between;
    left: 50%;
    max-width: $inner_width;
    padding: 15px $inner_padding;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;

    h1 {
        font-size: 23px;
        width: 225px;
    }

    button {
        align-items: center;
        appearance: none;
        background: $secondary_background_color;
        border: 0;
        color: $text_color_dark;
        cursor: pointer;
        display: flex;
        font-size: 17px;
        height: 47px;
        justify-content: center;
        outline: none;
        overflow: hidden;
        position:relative;
        width: 47px;
        border-radius: $global_border_radius;
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: $global_border_radius;
            border: 1px solid transparent;
            background: $button_gradation;
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
            -webkit-mask-composite: destination-out;
            mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
            mask-composite: exclude;
        }
    }
}