@import "@/app/styles/Variables.scss";

.container {
    font-size: 80%;
    display: flex;
    align-items: center;
    padding: $gloval_between 0;

    .block {
        display: block;
        width: 20px;
        height: 20px;
        background: $primary_color;
        margin-right: 5px;
        position: relative;
        transform: translateY(-50%);

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 12px;
            background: #fff;
            position: absolute;
            top: 12px;
            left: 10px;
            transform: rotate(333deg) translateY(50%);
        }

        &::before {
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 28px;
            left: 16px;
            // transform: translateY(50%);
        }
    }

    p {
        font-weight: 400;
        transform: translate(12px, 45%);

        span {
            margin-right: 7px;
        }
        .ja {
            font-size: 90%;
            font-weight: 500;
        }
    }
}