@import "@/app/styles/Variables.scss";

.container {
    font-size: 80%;
    display: flex;
    align-items: center;
    padding: 50px 0;

    .block {
        display: block;
        width: 13px;
        height: 13px;
        background: $primary_color;
        margin-right: 5px;
    }

    p {
        font-weight: 400;
        span {
            margin-right: 10px;
        }
        .ja {
            font-size: 90%;
            font-weight: 500;
        }
    }
}